html,body{
    margin: 0;
    background: #eeeeee;
}

#playground {
    /*background: white;*/
    width: 500px;
    height: 700px;
    position: absolute;
    top: 50%;
    margin-top: -350px; /* negative half of the height */
    left: 50%;
    margin-left: -250px;
    border: 1px solid #eaeaea;
}


#gameMap {
    border-collapse: separate;
    border-spacing: 0px 0px;
    border: 1px solid #aaa;
    background: #fff;
}


/* start tile */
#gameMap td{
    width: 50px;
    height: 50px;
    border: 1px solid #aaa;
}

#gameMap div {
    width: 100%;
    height: 100%;
    background-size:  32px 32px;
    background-position: 9px 9px;
    background-repeat: no-repeat;
    background-color: white;
    text-align: center;
}

#gameMap div.null {
    background: #000000;
}

#gameMap div.box {
    background-image: url("../img/box.png");
}
#gameMap div.circling {
    background-image: url("../img/circling.png");
}
#gameMap div.round {
    background-image: url("../img/round.png");
}
#gameMap div.screen {
    background-image: url("../img/screen.png");
}
#gameMap div.song {
    background-image: url("../img/song.png");
}

/* end tile */